.custom-form {
    border: 2px solid red;
    padding: 8px;
    margin: 36px;
}

.custom-form > .form-title {
    padding: 8px;
    text-align: center;
}

.custom-form .form-button {
    width: 100%;
}

.lightseagreen {
    background: lightseagreen;
}

.lightgreen {
    background: lightgreen
}